web-concepts/xml/schema1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:mahendra.com:schema1"
            elementFormDefault="qualified" >

    <xsd:element name="product">

    <xsd:complexType >
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="price" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>